@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --BrightOrange: hsl(31, 77%, 52%);
    --DarkCyan: hsl(184, 100%, 22%);
    --VeryDarkCyan: hsl(179, 100%, 13%);
    --TransparentWhite: hsla(0, 0%, 100%, 0.75);
    --VeryLightGray: hsl(0, 0%, 95%);
    --Lexend: 'Lexend Deca', sans-serif;
    --BigShouldres: 'Big Shoulders Display', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family: var(--Lexend);
    background: var(--VeryLightGray);
}

.main-container{
    border-radius: 10px;
    overflow: hidden;
    width: 325px;
    margin: 87px auto 45px;
}
article {
    width: 100%;
    height: 440px;
    padding: 48px;
}
#sedans {
    background-color: var(--BrightOrange);
}
#suvs {
    background-color: var(--DarkCyan);
}
#luxury {
    background-color: var(--VeryDarkCyan);
}
img {
    margin-bottom: 36px;
}
h2 {
    color: var(--VeryLightGray);
    font-family: var(--BigShouldres);
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}
p{
    color: var(--TransparentWhite);
    line-height: 25px;
    margin-bottom: 25px;
}
button {
    width: 148px;
    height: 46px;
    border-radius: 45px;
    border-style: none;
    background-color: var(--);
    font-family: var(--Lexend);
    font-size: 1.5rem;
}

#sedans button {
    color: var(--BrightOrange);
}
#sedans button:hover{
    background-color: var(--BrightOrange);
    color: var(--VeryLightGray);
}
#suvs button {
    color: var(--DarkCyan);
}
#suvs button:hover{
    background-color: var(--DarkCyan);
    color: var(--VeryLightGray);
}
#luxury button {
    color: var(--VeryDarkCyan);
}
#luxury button:hover{
    background-color: var(--VeryDarkCyan);
    color: var(--VeryLightGray);
}
button:hover {
    cursor: pointer;
    border: 2px solid var(--VeryLightGray);
}


/************  Footer  ***************/
.attribution { 
    font-size: 11px;
    text-align: center;
    margin-bottom: 50px;    
}
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 1440px){ 
    .main-container {
        display: flex;
        width: 1059px;
        margin: 150px auto 60px;
    }
    article {
        height: 500px;
    }
    h2 {
        margin-bottom: 35px;
    }
    p {
        margin-bottom: 45px;
    }
}